@import "src/assets/colors";

.container {
  background: #f5f5f5;
}

.horizontal__line-style {
  border-bottom: 1px solid #eeeeee;
}

.sidebar {
  padding: 10px;
  .user__details-div {
    @extend .horizontal__line-style;
    padding: 15px 0;
    .user__name-span {
      margin-left: 7px;
      color: $primaryColor;
      font-weight: 600;
    }
  }
  .bank__name-span {
    font-size: 36px;
    font-weight: bolder;
    color: $primaryColor;
  }
  .menu__group-div {
    @extend .horizontal__line-style;
    padding-bottom: 15px;
    .menu__group__title-p {
      color: $battleshipGrayColor;
      font-weight: 600;
      margin: 1rem 0;
    }
    .menu-div {
      padding: 10px;
  
      &:hover {
        background-color: #fff;
        color: $primaryColor;
        border-radius: 10px;
        font-weight: 600;
      }
  
      .menu__title-span {
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
  .new__payment-div {
    border: 1px dashed $battleshipGrayColor;
    border-radius: 10px;
    padding: 45px 20px;
    margin-top: 15px;
    .new__payent__icon-i {
      color: $primaryColor;
      font-size: 46px;
      border: 1px dashed $primaryColor;
      border-radius: 50%;
      padding: 4px;
    }
    .new__payment__title-span {
      margin-top: 10px;
      color: $primaryColor;
      font-weight: 600;
    }
  }
}

.search-input {
  border: none;
  border-radius: 10px;
  background-color: #eeeeee;
}

.mail__icon-button {
  background: none;
  border: 1px solid #d1cece;
  border-radius: 5px;
  padding: 5px 10px;
  i {
    font-size: 16px;
  }
}

.bell__icon-button {
  @extend .mail__icon-button;
  margin-left: 10px;
}

.my__cards-div {
  @extend .horizontal__line-style;
  padding-bottom: 15px;
  .credit-card {
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    height: 231px;
    max-width: 100%
  }
  
  .add__new__card-button {
    width: 100%;
    justify-content: center;
    background-color: transparent;
    border: dashed;
    border-color: #eeeeee;
    border-radius: 10px;
    color: $violetBlueColor;
    margin-top: 1rem;
  
    &:hover {
      background-color: #e1e7fb;
      color: $violetBlueColor;
    }
  }
}

.quick__actions-div {
  margin-top: 15px;
  @extend .horizontal__line-style;
  padding-bottom: 15px;
  .actions-div {
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 10px;
  }
}

.saving__plan-div {
  margin-top: 15px;
  @extend .horizontal__line-style;
  padding-bottom: 15px;

  .saving__plan__item__details-div {
    border: 1px solid #eee;
    padding: 9px 12px;
    border-radius: 10px;
    margin-top: 10px;
    .saving__plan__item__icon-div {
      border: 1px solid #eee;
      padding: 10px 12px;
      border-radius: 10px;
      margin-right: 10px;
    }
    .saving__plan__item__title-span {
      font-weight: 600;
      color: $primaryColor;
    }
  }
}

.balance__details-div {
  margin-bottom: 10px;
  .balance__details__title-p {
    color: $primaryColor;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.transaction-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  &.status-success {
    background: #C8E6C9;
    color: #256029;
  }
  &.status-pending {
    background: #FEEDAF;
    color: #8a5340;
  }
  &.status-failed {
    background: #FFCDD2;
    color: #c63737;
  }
}

.transactions__search-input {
  border-radius: 10px;
}

.transactions__header__style-button {
  background: none;
  border: 1px solid #d1cece;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  span {
    color: $primaryColor;
    margin-left: 5px;
  }
}

.green-color {
  color: $pistachioColor;
}

.yellow-color {
  color: #FEEDAF;
}

.red-color {
  color: $teaRoseColor;
}